:root {
  --color--darkerbg: #101010;
  --color--darkbg: #242424;
  --color--lightbg: #eee;
  --color--lighttext: #fff;
  --color--darktext: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*:not(input) {
  color: var(--color--lighttext);
}

html {
  background-color: var(--color--darkerbg);
  font-size: 16px;
  min-height: 100%;
}

body {
  margin: 0 auto;
  max-width: 46rem;
  box-sizing: border-box;
  min-height: 100%;
}

input[type=time] {
  width: 7rem;
  height: 2.5rem;
  font-size: 1rem;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

input[type=text] {
  height: 2.5rem;
  font-size: 1rem;
  flex: 1;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--color--darkerbg);
  color: var(--color--lighttext);
  border: none;
  cursor: pointer;
}

.delete {
  color: red;
  transition: all 0.1s;
}

.delete:hover {
  opacity: .5;
}

.delete:active {
  transform: scale(0.8);
}

#add {
  font-size: 1.2rem;
  color: greenyellow;
  font-weight: 500;
  transition: all 0.3s;
}

#add:hover {
  opacity: .5;
}

#add:active {
  transform: scale(0.8);
}

.interval {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  flex-wrap: wrap;
}

.interval input {
  color: var(--color--lighttext);
  background-color: var(--color--darkerbg);
  text-align: center;
  border: none;
  border-bottom: 2px solid var(--color--lighttext);
  margin: .1rem;
  transition: all 0.3s;
}

.interval input:focus {
  outline: none;
  border-bottom: 2px solid var(--color--darkerbg);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}