:root {
  transition: all .3s;
  --color-primary: #101010;
  --color-black: #000;
  --color-hover: #181818;
  --color-text-primary: #fff;
  --color-text-secondary: #d4d4d4;
  --color-text-unfocused: #737373;
  --color-text-highlight: #5df80f;
  --color-javascript: #f1e05a;
  --color-php: #4F5D95;
  --color-text-blue: #007acc;
  --color-public-bg: rgba(45, 212, 191, .1);
  --color-public: rgb(20, 184, 166);
}

.light-mode {
  --color-primary: #fff;
  --color-black: #f2f2f2;
  --color-hover: #e8e8e8;
  --color-text-primary: #000;
  --color-text-secondary: #333;
  --color-text-unfocused: #666;
  --color-text-highlight: #007acc;
  --color-javascript: #f1e05a;
  --color-php: #4F5D95;
  --color-text-blue: #007acc;
  --color-public-bg: rgba(45, 212, 191, .1);
  --color-public: rgb(20, 184, 166);
}

.dark-mode {
  --color-primary: #101010;
  --color-black: #000;
  --color-hover: #181818;
  --color-text-primary: #fff;
  --color-text-secondary: #d4d4d4;
  --color-text-unfocused: #737373;
  --color-text-highlight: #5df80f;
  --color-javascript: #f1e05a;
  --color-php: #4F5D95;
  --color-text-blue: #007acc;
  --color-public-bg: rgba(45, 212, 191, .1);
  --color-public: rgb(20, 184, 166);
}

/* Reset de estilos e configurações gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral para a página */
html {
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  min-height: 100%;
}

body {
  margin: 0 auto;
  max-width: 42rem;
  box-sizing: border-box;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

/* Rodapé */
footer {
  opacity: .2;
  margin-top: 100%;
  padding-bottom: 1rem;
  color: var(--color-text-secondary);
}

#change-language {
  transition: all .3s;
}

/* Títulos e parágrafos */
h2 {
  font-weight: 600;
}

p {
  text-align: justify;
  color: var(--color-text-secondary);
}

/* Projetos */
.project {
  display: block;
  width: 20rem;
  border: 1px solid var(--color-text-unfocused);
  border-radius: .5rem;
  padding: 1rem;
  margin: .5rem;
}

.project-description {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: .9rem;
}

.project:hover {
  background-color: var(--color-hover);
}

.project-header {
  display: flex;
  align-items: center;
}

.project-name {
  color: var(--color-text-blue);
  font-weight: 600;
  margin: 0 .4rem;
}

.project-name:hover {
  text-decoration: underline var(--color-text-blue) 1.5px;
}

/* Publicações */
.public {
  display: block;
  border-radius: 1rem;
  background-color: var(--color-public-bg);
  color: var(--color-public);
  font-weight: 400;
  font-size: .8rem;
  padding: 0 .7rem;
}

/* Ícones de linguagens */
.js,
.php {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: .5rem;
}

.js {
  background-color: var(--color-javascript);
}

.php {
  background-color: var(--color-php);
}

/* Redes Sociais */
.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
  color: var(--color-text-secondary);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.home p {
  padding-bottom: 1rem;
}

#change-language:hover {
  transform: scale(1.1);
}

#change-language:active {
  transform: scale(.9);
}

/* Barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0px;
}

.link {
  display: inline-block;
  color: var(--color-text-unfocused);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  width: 4rem;
  transition: all .3s;
}

.link:hover {
  color: var(--color-text-primary);
  font-weight: 500;
}

.link:active {
  transform: scale(.9);
}

.active {
  color: var(--color-text-primary) !important;
  font-weight: 500 !important;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.title {
  margin-top: 2rem;
}

/* Página do CV */
.cv-page a,
.cv-page li {
  color: var(--color-text-secondary);
}

/* Blog */
.blog-post b {
  color: var(--color-text-secondary);
}

.blog-post {
  margin-top: 1rem;
  padding-bottom: .5rem;
}

.blog-post-link {
  display: block;
  margin-bottom: 2rem;
  transition: all .3s;
}

.blog-post-link div b {
  transition: all .3s;
}

.blog-post-link:hover div b {
  color: var(--color-text-primary);
}

/* Select e Opções */
select {
  background-color: transparent;
  color: var(--color-text-primary);
  border: none;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

option {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

option:hover {
  background-color: var(--color-hover);
  color: var(--color-text-primary);
}

/* Seleção de texto personalizada */
::selection {
  color: var(--color-text-primary);
  background: var(--color-text-unfocused);
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 1rem;
  }
}

@media print {
  * {
    color: #000 !important;
    background-color: #fff !important;
  }

  .navbar {
    margin: .5rem;
  }

  .navbar a,
  #download,
  .emoji {
    display: none;
    color: #fff !important;
  }

  footer {
    display: none;
  }

  img {
    display: none;
  }
}