:root {
  transition: all .2s;
  --tag-red-text-light: #ff4b78;
  --tag-green-text-light: #9cff39;
  --tag-blue-text-light: #4ed3fc;
  --tag-purple-text-light: #8d78fa;
  --tag-yellow-text-light: #fdd457;
  --tag-orange-text-light: #ff8a50;
}

.light {
  --color-primary: #fff;
  --color-black: #f2f2f2;
  --color-hover: #d6d6d6;
  --color-text-primary: #000;
  --color-text-secondary: #333;
  --color-text-unfocused: #666;

  --tag-red-bg-light: #fff0f3;
  --tag-green-bg-light: #f6fff0;
  --tag-blue-bg-light: #f0fbff;
  --tag-purple-bg-light: #f6f3ff;
  --tag-yellow-bg-light: #fffcf0;
  --tag-orange-bg-light: #fff6f0;
}

.dark {
  --color-primary: #101010;
  --color-black: #000;
  --color-hover: #2c2c2c;
  --color-text-primary: #fff;
  --color-text-secondary: #d4d4d4;
  --color-text-unfocused: #737373;

  --tag-red-bg-light: #331e24;
  --tag-green-bg-light: #2c3323;
  --tag-blue-bg-light: #1c2d33;
  --tag-purple-bg-light: #2b263d;
  --tag-yellow-bg-light: #332f1e;
  --tag-orange-bg-light: #33271f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  min-height: 100%;
}

body {
  margin: 0 auto;
  max-width: 42rem;
  box-sizing: border-box;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

h2 {
  font-weight: 600;
}

p {
  text-align: justify;
  color: var(--color-text-secondary);
}

::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  gap: 10px;
}

@media print {
  * {
    color: #000 !important;
    background-color: #fff !important;
  }

  nav {
    display: none !important;
    padding: none;
  }

  .header img {
    display: none;
  }

  .footer {
    display: none;
  }

}